@import 'tailwindcss';

@theme {
  --color-primary: oklch(87.9% 0.169 91.605);
  --color-primary-hover: oklch(76.9% 0.188 70.08);
  --color-secondary: oklch(50% 0.134 242.749);
  --color-secondary-hover: oklch(58.8% 0.158 241.966);
  --color-bg-previous-navbar: #0b0c0f;
}

html {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background: radial-gradient(oklch(28.2% 0.091 267.935), oklch(14.5% 0 0));
  background-size: cover;
  background-attachment: fixed;
  color: var(--color-sky-50);
}

input[type='number']::-webkit-inner-spin-button {
  opacity: 1;
}
